<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">

	<title>BMI Calculator</title>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">BMI Calculator</a>
	</nav>

	<div class="container mt-4">
		<form id="bmiForm">
			<div class="form-group">
				<label for="height">Height:</label>
				<input type="number" id="height" name="height" class="form-control"
					placeholder="Enter height (in inches or centimeters)" required>
			</div>

			<div class="form-group">
				<label for="weight">Weight:</label>
				<input type="number" id="weight" name="weight" class="form-control"
					placeholder="Enter weight (in pounds or kilograms)" required>
			</div>


			<div class="form-group">
				<label for="age">Age:</label>
				<input type="number" id="age" name="age" class="form-control" placeholder="Enter age" required>
			</div>

			<div class="form-group">
				<label for="gender">Gender:</label>
				<select id="gender" name="gender" class="form-control" required>
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>

			<div class="form-group">
				<label for="unit">Units:</label>
				<select id="unit" name="unit" class="form-control" required>
					<option value="imperial">Imperial (inches, lbs)</option>
					<option value="metric">Metric (cm, kg)</option>
				</select>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Calculate BMI</button>
			</div>

			<div id="bmiResultContainer" class="mt-4" style="display: none;">
				<p id="bmiResultText"></p>
			</div>
		</form>

		<div class="mt-4">
			<h4>History</h4>
			<ul id="bmiHistory"></ul>
		</div>
	</div>

	<footer class="mt-4">
		<p class="text-muted text-center">Mynzhasar Dinmukhammed, SE-2207</p>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>